body{
  background-color: lightgoldenrodyellow;
}
table,
td {
  /*border: 1px solid black;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width:800px;
  height: 200px;
}

img {
  width:100%;
  height: 100%;
}